
      body {
        background-image: url("rm118-ken-11.jpg");
        color: black;
        font-weight: bold;
      }
            img {
        margin: 0;
        height: 100vh;
        background-image: url("rm118-ken-11.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
}
      a:link {
        color: white;
        font-size: 30px;
      }
      a:visited {
        color: aqua;
      }
      a:active {
        color:aqua;
      }
    header {
        background-color: #6da2c3ff;
        color: #ffffff;
        padding: 10px 0;
        text-align: center;
    }
      h1 {
        color: rgba(15, 2, 6, 1);
      }

      nav ul {
        list-style: none;
        display: flex;
        justify-content: center;
        background-color: #35424a;
        padding: 10px 0;
      }
      nav a {
        color: white;
        text-decoration: none;
        padding: 14px 20px;
        margin-right: 50px;
      }
      .hero {
        height: 100vh;
        background-image: url("rm118-ken-11.jpg");
        background-size: cover;
        background-position: center;
}

      img {
        display: block;
        margin: 20px auto;
        max-width: 100%;
        height: 500px;
      }
      h2 {
        text-align: center;
        color: #333;
        margin: 20px 0;
        font-size: 30px;
        margin-bottom: 100px;
      }
      p {
        margin: 20px auto;
        padding: 0 20px;
        font-size: 30px;
        max-width: 1200px;
        margin-bottom: 100px;
      }
      
   footer {
        background-color: #6da2c3ff;
        color: #ffffff;
        padding: 10px 0;
        text-align: center;
    }
  
  footer p {
    margin:auto;
    font-size: 30px;
    text-align:center;
    color: black;
    font-weight: bold;
  }

    